html, body{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 5vw;
    height: 100%;
    text-align: center;
    line-height: 800px;
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding:0px;
}
.col-1 {
    background: #244F75;
    display: inline;
}
.col-2 {
    background:#60BFBF;
    display: inline;
}
.col-3 {
    display: inline;
    background:#8C4B7E;
}
.col-4 {
    display: inline;
    background:#F8BB44;
}
.col-5 {
    display: inline;
    background:#F24B4B;
}
 